<p id="notice"><%= notice %></p>

<h3><%= @feed.name %></h3>
<p>
  <b>Feed URL:</b>
  <%= @feed.url %>
</p>

<%= render :partial => 'streams/recent_items', :locals => { :feed => @feed } %>

<%= link_to 'Delete this feed', feed_path(@feed), :confirm => "Are you sure you want to delete #{@feed.name}", :method => :delete %><br /> 
<%= link_to 'Edit', edit_feed_path(@feed) %><br /> 
<%= link_to 'Back to Dashboard', user_root_path %>
