<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Stream Name" %>
    <%= f.text_field :name, :autofocus => true %>
  </p>

  <p>
    <%= f.label :feed_id, "Choose a Feed" %>
    <%= select 'stream', 'feed_id', 
      options_from_collection_for_select(@feeds, 'id', 'name', determine_selected_feed) %>
  </p>

  <p>
    <%= label_tag :twitter_account, "Choose a Twitter Account" %>
    <%= select_tag 'twitter_account', 
               options_from_collection_for_select(@twitter_accounts, 'id', 'handle', determine_selected_twitter_account),
               :multiple => true, :size => 4 %>
  </p>

  <p>
    <%= label_tag :email_list, "Choose an Email List" %>
    <%= select_tag 'email_list', 
               options_from_collection_for_select(@email_lists, 'id', 'name', determine_selected_email_list),
               :multiple => true, :size => 4 %>
  </p>

  <%= f.submit :class => "button" %>
<% end %>

