<%= form_for(@stream) do |f| %>
  <p>
    <%= f.label :name, "Stream Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :feed_id, "Choose a Feed" %>
    <%= select 'stream', 'feed_id', 
      options_from_collection_for_select(@feeds, 'id', 'name', @stream.feed.id) %>
  </p>

  <p>
    <%= f.label :twitter_account_id, "Choose a Twitter Account" %>
    <%= select 'stream', 'twitter_account_id', 
      options_from_collection_for_select(@twitter_accounts, 'id', 'handle', @stream.twitter_account.id) %>
  </p>

  <%= f.submit %>
<% end %>

