<%= form_for(@stream) do |f| %>
  <p>
    <%= f.label :name, "Stream Name" %>
    <%= f.text_field :name, :autofocus => true %>
  </p>

  <p>
    <%= f.label :feed_id, "Choose a Feed" %>
    <%= select 'stream', 'feed_id', 
      options_from_collection_for_select(@feeds, 'id', 'name', determine_selected_feed) %>
  </p>

  <p>
    <%= f.label :twitter_account_id, "Choose a Twitter Account" %>
    <%= select 'stream', 'twitter_account_id', 
      options_from_collection_for_select(@twitter_accounts, 'id', 'handle', determine_selected_twitter_account) %>
  </p>

  <%= f.submit :class => "button" %>
<% end %>

