<% if @stream.included_categories && !@stream.included_categories.empty? %>
  <b>Included Categories: </b><%= @stream.included_categories %>
<% end %>
<div>
  <b>Feed:</b>
  <% @stream.feeds.each do |feed| %>
    <%= link_to feed.name, feed_path(feed) %>
  <% end %>
  <% if @stream.feeds.empty? %>
    <em>There is no feed associated with your stream. Please click edit to choose a feed you wish track.</em>
  <% end %>
</div>

<div>
  <b>Twitter Account(s):</b>
  <% @stream.twitter_accounts.each do |account| %>
    <%= link_to account.handle, "http://twitter.com/#{account.handle}" %>
  <% end %>
  <% if @stream.twitter_accounts.empty? %>
    <em>There is no twitter account associated with your stream. Please click edit to choose a twitter account you wish track.</em>
  <% end %>
</div>

<div>
  <b>Email List(s):</b>
  <% @stream.email_lists.each do |list| %>
    <%= link_to list.name, email_list_path(list) %>
  <% end %>
  <% if @stream.email_lists.empty? %>
    <em>There is no email list associated with your stream. Please click edit to choose a email list you wish track.</em>
  <% end %>
</div>

<div>
  <b>Facebook Account(s):</b>
  <% @stream.facebook_accounts.each do |account| %>
    <%= link_to account.name, account.link %>
  <% end %>
  <% if @stream.facebook_accounts.empty? %>
    <em>There is no twitter account associated with your stream. Please click edit to choose a twitter account you wish track.</em>
  <% end %>
</div>

<br />
<% @stream.feeds.each do |feed| %>
  <%= render :partial => 'recent_items', :locals => { :feed => feed } %>
<% end %>
