<p id="notice"><%= notice %></p>

<h3><%= @stream.name %></h3>
<b>Included Categories:</b><%= @stream.included_categories %>
<%= render :partial => 'stream_info' %>

<%= link_to 'Edit', edit_stream_path(@stream) %><br /> 
<%= link_to 'Back to Dashboard', user_root_path %>
