<div class="dashboard">
  <%= image_tag "/images/email.gif", :class => "icon", :alt => "Stream icon" %>
  <span class=dashboard-sections>Email Lists</span>
  <% @email_lists.each do |email_list| %>
    <div>
      <%= link_to email_list.name, email_list_path(email_list) %>
      <%= link_to image_tag("/images/delete-button.jpg", :class => "delete-icon", :alt => "Delete Email List"), 
        email_list, :confirm => "Are you sure you want to delete #{email_list.name}", :method => :delete %>
    </div>
  <% end %>
  <div class="create-links"><%= link_to "Add new Email List", new_email_list_path %></div>
  <%= render :partial => 'email_list_help' if @email_lists.count == 0 %>
</div>
