<div class="dashboard">
  <%= image_tag "/images/stream.jpg", :class => "icon", :alt => "Facebook icon" %>
  <span class=dashboard-sections>Facebook Accounts</span>
  <% @facebook_accounts.each do |account| %>
    <div>
      <%= link_to account.name, account.link %>
      <%= link_to image_tag("/images/delete-button.jpg", :class => "delete-icon", :alt => "Delete Facebook Account"), 
        account, :confirm => "Are you sure you want to delete your Facebook account?", :method => :delete %>
      </div>
  <% end %>
  <div class="create-links"><%= link_to "Add new Facebook Account", facebook_connect_path %></div>

  <%= render :partial => 'facebook_help' %>
</div>
