<div class="dashboard">
  <%= image_tag "/images/stream.jpg", :class => "icon", :alt => "Stream icon" %>
  <span class=dashboard-sections>Streams</span>
  <% @streams.each do |stream| %>
    <div>
      <%= link_to stream.name, stream_path(stream) %>
      <%= link_to image_tag("/images/delete-button.jpg", :class => "delete-icon", :alt => "Delete Stream"), 
        stream, :confirm => "Are you sure you want to delete #{stream.name}", :method => :delete %>
    </div>
  <% end %>
  <div class="create-links"><%= link_to "Add new Stream", new_stream_path %></div>
  <%= render :partial => 'stream_help' if @streams.count == 0 %>
</div>
