<div>
  <span class="header">Your Streams</span>
  <% @streams.each do |stream| %>
    <div class="stream-container">
      <div class="streams">
        <%= link_to stream.name, stream_path(stream) %>
      </div>
      <% if stream.feeds.count > 0 %>
        <div class="feeds">
          publishes
          <br>
          <div class="names"><%= stream.feed_names %></div>
        </div>
      <% end %>
      <% if stream.total_destination_count > 0 %>
        <div class="destinations">
          to
          <br>
          <div class="names"><%= stream.destination_names %></div>
        </div>
      <% end %>
      <%= link_to "Delete this stream", stream, :confirm => "Are you sure you want to delete #{stream.name}", :class => "delete-stream", :method => :delete %>
    </div>
  <% end %>
  <div class="create-links"><%= link_to "Add new Stream", new_stream_path %></div>

  <div class="help">Share a feed by creating a stream.</div>
</div>
