<h2>Dashboard</h2>

<div class="dashboard-grouping">
  <%= render :partial => 'feed_display' %>
  <%= render :partial => 'stream_display' %>
</div>
<div class="dashboard-grouping">
  <%= render :partial => 'twitter_display' %>
  
  <%= render :partial => 'facebook_display' %>

  <%= render :partial => 'email_display' %>
</div>
