<h1>Dashboard</h1>

<div class="dashboard">
  <img class="icon" src="/images/rss.jpg">
  <span class=dashboard-sections>Feeds</span>
  <% @feeds.each do |feed| %>
    <div>
      <%= link_to feed.name, edit_feed_path(feed) %>
      <%= link_to image_tag("/images/delete-icon.jpg", :class => "icon", :alt => "Delete Feed"), 
        feed, :confirm => "Are you sure you want to delete #{feed.name}", :method => :delete %>
    </div>
  <% end %>

  <div><%= link_to "Add new feed", new_feed_path %></div>
</div>

<div class="dashboard">
  <img class="icon" src="/images/twitter.gif">
  <span class=dashboard-sections>Configured Accounts</span>
  <% @twitter_accounts.each do |account| %>
    <div><%= link_to account.handle, "http://twitter.com/#{account.handle}" %></div>
  <% end %>

  <div><%= link_to "Add new Twitter Account", twitter_connect_path %></div>
</div>

<div class="dashboard">
  <span class=dashboard-sections>Streams</span>
  <% @streams.each do |stream| %>
    <div>
      <%= link_to stream.name, edit_stream_path(stream) %>
      <%= link_to image_tag("/images/delete-icon.jpg", :class => "icon", :alt => "Delete Stream"), 
        stream, :confirm => "Are you sure you want to delete #{stream.name}", :method => :delete %>
    </div>
  <% end %>
  <div><%= link_to "Add new Stream", new_stream_path %></div>
</div
