<%= simple_form_for(@email_list) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => { :resource => @email_list } %>

  <div class="field">
    <%= f.input :name, :label => "Email List Name", :input_html => { :autofocus => true } %>
  </div>
  <div class="field">
    <% if @email_list.new_record? %>
      <%= link_to "Import email recipients from a text file", import_email_recipients_path %>
    <% end %>

    <%= f.input :recipients_text, :label => "Email Recipients (enter one email address per line)" %><br />
    </div>
  <div class="actions">
    <%= f.button :submit, :class => "button" %>
  </div>
<% end %>
