<!DOCTYPE html>
<html>
<head>
  <title>lifeStreams</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "formalize" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.formalize" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22820275-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="container">
    <%= link_to image_tag("/images/logo-beta.png", :id => "logo", :alt => "lifeStreams"), "/" %>

    <%= render 'layouts/user_nav' %>

    <%= image_tag "/images/Blue-Stream.gif", :id => "blue-stream", :alt => "Blue Stream" %>
      
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

<%= yield %>
  </div>

</body>
</html>
